.counter-container, .option-card{
    width: 170px;
    height: 60px;
    border: 2px solid var(--custom-gray-2);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--custom-gray-2);
    border-radius: 5px;
}

.circle{
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background-color: var(--custom-gray-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.circle{
    font-size: 0.875rem;
}

.circle:hover{
    background-color: var(--custom-green-3);
    color: white;
}

.counter-amount{
    cursor: auto;
}

.btn-minus, .btn-plus{
    font-size: 11px;
}

.counter-container, .option-card{
    position: relative;
}

.option-card-title{
    position: absolute;
    top: -20%;
    left: 10%;
    background-color: white;
}