.product-card-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 660px;
    height: 270px;   
}

.product-info{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-between;
}

.product-img-container{
    width: 213px;
    height: 160px;
}

.product-img-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-img-container{
    grid-area: 2 / 1 / 3 / 2;
}

.options-container{
    grid-area: 2 / 2 / 3 / 4;
}

.add-btn{
    grid-area: 3 / 3 / 4 / 4;
}