header{
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid var(--custom-gray-2);
    background-color: white;
    height: 10vh;
}

.header-title{
    font-size: 1.375rem;
    font-family: 'Courgette', cursive;
}

.search-container{
    min-width: 600px;
    display: flex;
    align-items: center;
    background-color: var(--custom-gray-1);
    margin: auto;
    padding-left: 10px;
    border-radius: 3px;
}

.search-input{
    margin: auto;
    font-size: 1rem;
    padding: 8px 5px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 95%;
}

.search-icon{
    font-size: 1.1rem;
    color: black;
}