header{
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid var(--custom-gray-2);
    background-color: white;
    height: 10vh;
}

.header-title{
    font-size: 1.375rem;
    font-family: 'Courgette', cursive;
}

.search-container{
    min-width: 600px;
    display: flex;
    align-items: center;
    background-color: var(--custom-gray-1);
    margin: auto;
    padding-left: 10px;
    border-radius: 3px;
}

.search-input{
    margin: auto;
    font-size: 1rem;
    padding: 8px 5px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 95%;
}

.search-icon{
    font-size: 1.1rem;
    color: black;
}

.hamburger-menu{
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 13px;
    cursor: pointer;
    display: none;
}

.hamburger-menu div{
    height: 3px;
    background-color: black;
}

.bar-1{
    width: 30px;
}

.bar-2{
    width: 20px;
}

.bar-3{
    width: 10px;
}

@media (max-width: 1250px){
    .search-container{
        min-width: 50%;
    }

    .hamburger-menu{
        display: flex;
    }
}

@media (max-width: 500px){
    .search-container{
        width: 100px;
    }
}

