.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr
}

header{
  grid-column: span 4;
}

.navbar-container{
  grid-column: span 1;
}

.main-container{
  grid-column: span 2;
}

.cart-container{
  grid-column: span 1;
}
