body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Roboto', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--custom-gray-1);
}

*{
  box-sizing: border-box;
}

h1, h2, h3, h4, p{
  padding: 0;
  margin: 0;
}

button{
  outline: none;
  border: none;
  cursor: pointer;
}

code {
  font-family:  'Roboto', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

/* colors */
:root{
  --custom-gray-1: #EFEFEF;
  --custom-gray-2: #D9D9D9;
  --custom-green-1: #6FEE6C
}
